#container{ padding-top:60px;}
.table-responsive .form-control{ border:none; box-shadow:none;height: 20px;padding: 2px 12px;}
.table-responsive td{ position:relative; width:250px;}
.table-responsive td label{ font-weight:normal;}
#sp-edit{position:absolute;max-width:250px;  }
